* {
	margin: 0px;
	padding: 0px;
    font-family: Geneva;
    border: border-box;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
	padding-left: 0px;
	width: 100%;
}

.bannerContent span {
	border: 1px solid #110033;
	padding: 10px;
	cursor: pointer;
}

.banner {
	background-size: cover;
	background-position: center;
}
.bannerContent {
	padding-bottom: 100px;
	background-color: rgba(0,0,0, .5);
}
.bannerContent p {
	text-align: center;
}

#postingARequest {
	border: 1px solid orange;
	padding: 7px 30px;
	background-color: green;
	color: white;
	border-radius: 5px;
	margin-right: 20px;
}

#quitRequest {
	margin-top: 20px;
	padding: 7px 30px;
	background-color: maroon;
	color: white;
	border-radius: 5px;
	margin-right: 20px;
	float: right;
}

#quitRequest:hover {
	background-color: orange;
	color: black;
}

#input-Text {
	padding: 10px;
	width: 100%;
}

.topHead ul li {
	display: inline-block;
	color: purple;
	padding: 20px 20px;
	cursor: pointer;
}

.topHead ul {
	width: 100%;
	margin-bottom: 0px;
}

.theHead {
	padding-right: 0px;
	padding-left: 0px;
}
.topHead {
	width: 100%;
}
.inputContainer {
	position: relative;
	width: 60%;
	margin-left: 20%;
	background-color: white;
	padding: 5px;
}

.bannerContent ul {
	width: 70%;
	margin-left: 15%;
	padding-left: 15%;
}

.bannerContent h1 {
	text-align: center;
	margin-bottom: 150px;
	margin-top: 70px;
}

.bannerContent button {
	position: absolute;
	border: none;
	background-color: green;
	color: white;
	padding: 10px 30px;
	top: 7px;
	right: 5px;
}

span {
	color: white;
	border: 1px solid white;
}

#welcome_note {
	color: white;
}
.container {
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
}

.theFooter {
	background-color: black;
	color: white;
	padding-top: 100px;
	padding-bottom: 20px;
}

.theFooter p {
    text-align: center;
}

.login form {
    width: 90%;
    border-radius: 5px;
    margin-left: 5%;
    border: 1px solid #eeeeee;
    background-color: #fafafa;
    margin-top: 70px;
    padding-bottom: 90px;
    
}

.login input {
	width: 90%;
	padding: 10px;
	border: 1px solid #eeeeee;
	margin-bottom: 5px;
	font-size: 15px;
	margin-left: 4%;
}

.login button {
	padding: 6px 30px;
	float: right;
	border: none;
	background-color: green;
	color: white;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-right: 6%;
	font-size: 14px;
}

.login p {
	padding: 50px 10px;
	color: default;
	text-align: center;
}

.login {
	padding-bottom: 70px;
}

.description p {
	text-align: center;
}

/* request form starts here */
.postingRequest {
   background-color: rgb(0,0,6); /* Fallback color */
   background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
   padding-bottom: 100px;
   flex-wrap: wrap;
}

.requestForm {
   height: 600px;
   overflow: scroll;
   padding-bottom: 100px;
   max-width: 600px;
}

.advertSection {
	padding-bottom: 100px;
	width: 600px;
}

.advertSection div {
    background-color: lightgreen;
    padding: 100px;
    padding-bottom: 400px;
    margin-top: 85px;
}

.quitProp {
    width: 100%;
    background-color: rgb(0,0,6); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.forheader {
	padding-bottom: 60px;
	width: 100%;
	background-color: rgb(0,0,6); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.coverForPost {
	position: fixed;
    top: 0px;
    width: 100%;
    background-color: transparent;
    display: none;
}

#subtileMessage {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 10px;
	background-color: transparent;
	color: white;
	font-size: 20px;
}

.propertyForm {
	width: 80%;
	margin-left: 10%;
	background-color: #fafafa;
	padding-top: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.property-Document input {
    padding: 20px;
    border: 1px solid black;
    margin-left: 10px;
}

.property-Document p {
	padding-left: 20px;
}

.facilities input {
	padding: 20px;
	margin-left: 10px;
}

.facilities p {
	padding-left: 20px;
}

.Space {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	background-color: white;
}

.bedroom {
	width: 40%;
	margin-left: 10px;
}

.bedroom input {
	width: 100%;
	border: 1px solid #eeeeee;
	padding: 7px;
	margin-bottom: 5px;
}

.bedroomQuantity p{
	margin-left: 10px;
}

.noofunits {
	width: 40%;
	margin-left: 10px;
}

.noofunits input {
	width: 100%;
	border: 1px solid #eeeeee;
	padding: 7px;
}
.units p {
	margin-left: 10px;
}

.price input {
   width: 40%;
   margin-left: 10px;
   margin-bottom: 10px;
   padding: 7px;
   border: 1px solid #eeeeee;
}

.price p {
	margin-top: 10px;
	margin-left: 10px;
	padding-bottom: 0px;
}

.category, #type {
	width: 250px;
	height: 40px;
	padding-left: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	border: 1px solid #eeeeee;
	background-color: white;
}

.size {
	width: 100px;
	margin-left: 10px;
}

.size input {
    width: 100%;
    padding: 7px;
    border: 1px solid #eeeeee;
}
#measure {
	border: 1px solid #eeeeee;
	background-color: white;
	padding: 8px;
	height: 40px;
	margin-left: 10px;
}

.theTitle {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    width: 90%;
    margin-left: 5%;
    color: purple;
}

.fac {
	padding-top: 20px;
}

.propertyForm button {
	padding: 4px 30px;
	border-radius: 5px;
	background-color: green;
	color: white;
	float: right;
	margin-top: 10px;
	margin-bottom: 50px;
	font-size: 14px;
}

#local {
	padding: 7px;
	margin-bottom: 20px;
	margin-left: 10px;
	border: 1px solid #eeeeee;
}

.localhead {
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid purple;
	color: purple;
	width: 90%;
	margin-left: 5%;
}

.add {
	padding: 10px;
	width: 90%;
	margin-top: 10px;
	margin-left: 5%;
	border: 1px solid #eeeeee;
	margin-bottom: 30px;
}

.bot {
	margin-bottom: 10px;
}

#textarea {
	width: 90%;
	padding: 10px;
	margin-left: 5%;
	height: 100px;
	margin-bottom: 30px;
	border: 1px solid #eeeeee;
}

.pictures {
	border: 1px solid lightgreen;
	padding: 5px;
	margin-left: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	background-color: white;
	width: 90%;
}

h6 {
	text-align: center;
	color: purple;
	margin-bottom: 0px;
}

#lastpicture {
	margin-bottom: 30px;
	margin-top: none;
}

.stage {
	background-color: green;
	color: white;
	text-align: center;
	padding-top: 15px;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	border: 6px solid orange;
	float: right;
	margin-right: 10px;
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {border: 6px solid green;}
    25%  {background-color: yellow;}
    50%  {width: 35px; height: 35px;}
    100% {background-color: purple; color: white;}
}

/* Standard syntax */
@keyframes example {
    0%   {border: 3px solid orange;}
    25%  {background-color: green;}
    50%  {width: 35px; height: 35px; padding-top: 4px; background-color: purple;}
    100% {background-color: green;}
}

#theStates, #locaGv {
	margin-left: 30px;
	height: 40px;
	padding: 10px;
	background-color: white;
	border: 1px solid #eeeeee;
}

.coverForPost {
	width: 100%;
}

.signup_form {
	z-index: 3;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0, .7);
	height: 800px;
	display: none;
}

.login_form {
	z-index: 4;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0, .7);
	height: 800px;
	display: none;
}

.fa-window-close {
	color: white;
	font-size: 40px;
	padding: 10px;
	background-color: transparent;
}



