* {
	margin: 0px;
	padding: 0px;
    font-family: Geneva;
    border: border-box; 
}

.row {
  margin-right: 0px;
  margin-left: 0px;
  width: 100% !important;
}

.welm_form {
    background-color: transparent;
    margin-top: 100px;
    width: 90%;
}

.welm_form select {
	width: 90%;
	height: 50px;
	padding-left: 20px;
	margin-left: 9%;
	border: 1px solid orange;
	background-color: transparent;
	color: white;
	font-weight: bold;
	margin-bottom: 10px;
}

#city {
	margin-top: 110px;
}

#locaGv {
	width: 90%;
	height: 50px;
	padding-left: 20px;
	margin-left: 9%;
	border: 1px solid orange;
	background-color: transparent;
	margin-top: 10px;
	color: white;
	font-weight: bold;
}

.wel_form select option {
	padding: 10px;
	padding-left: 20px;
}

option {
	color: black;
}

.welm_form button {
	background-color: green;
	color: white;
	font-size: 16px;
	padding: 5px 30px;
	margin-right: 1%;
	border: 1px solid orange;
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
	border-radius: 5px;
}


body, html {
	height: 100%;

}

.ltnInterface {
    background-color: rgb(0,0,6); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    padding-bottom: 350px;
    position: absolute;
    z-index: 2;
    top: 0px;
    width: 100%;
}

.property_modal {
	background-color: rgb(0,0,6); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    padding-bottom: 350px;
    position: absolute;
    z-index: 3;
    top: 0px;
    width: 100%;
    display: none;
}

.custom-modal-wrapper{
	width: 100%;
	background-color: rgba(0,0,0, .5);
	position: absolute;
	top: 0;
	z-index: 3;
	display: none;
 }

.custom-wrapper{
	width: 100%;
	background-color: transparent;
	padding: 20px;
	margin-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

.pictures_section{
	background-color: transparent;
	width: 90%; 
	margin-left: 5%;
}

.prop_facilities {
	width: 90%;
    cursor: pointer;
    margin-left: 5%;
    background-color: #eeeeee;
}

.facilities_with_props {
	width: 90%;
	margin-left: 5%;
	cursor: pointer;
	background-color: #eeeeee;
}

.propTitle_documents {
	width: 90%;
	margin-left: 0px;
	cursor: pointer;
	background-color: #eeeeee;
	margin-left: 5%;
    margin-top: 10px;
}

.midsection {
    max-height: 900px;
    overflow: scroll;
    background-color: transparent;
}

.prop_facilities p {
    color: purple;
}

.other_images {
	width: 100%;
	height: 250px;
	background-size: cover;
	background-position: center;
	list-style-type: none;
	display: inline-block;
}


.ul_of_props {
	height: 600px;
	max-height: 600px;
	width: 100%;
	overflow-y: scroll;
	padding-left: 0px;
}

.welm {
	background-color: transparent;
}

.property_hanler {
	background-color: transparent;
}

.welm_form_right {
	background-color: transparent;
	padding-top: 200px;
}

.welm_form_right i {
     font-size: 200px;
     color: orange;
     background-color: transparent;
     padding-left: 100px;
}

#map {
	height: 100%;
	margin-left: 10px;
}

.mapCover {
	padding-left: 0px !important;
	background-color: white;
}

#map {
	height: 730px; 
	margin-left: 0px;
}

.props {
	flex-wrap: wrap;
	height: 700px;
	overflow: scroll;
}

.a_property {
     width: 300px;
     margin-left: 5px;
     margin-top: 20px;
     border: 1px solid white;
     border-radius: 5px;
     background-color: #eeeeee;
     cursor: pointer;
     max-height: 400px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.a_property:hover {
	border: 1px solid green;
	color: green;
}

.a_property ul li {
	list-style-type: none;
	text-align: center;
	padding: 5px;
}

.cover_pix {
	width: 100%;
	height: 200px;
	background-position: center;
	background-size: cover;
}

.contact_agent {
    background-color: transparent;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    color: white;
    padding-left: 7%;
}

.contact_agent input{
    background-color: white;
    width: 90%;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
}

.contact_agent textarea {
	background-color: white;
    width: 90%;
    padding: 10px;
    height: 100px;
    color: white;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
}

.contact_agent button {
	padding: 5px 30px;
	border-radius: 5px;
	border: 1px solid orange;
	color: white;
	background-color: purple;
	cursor: pointer;
	float: right;
	margin-top: 10px;
	margin-right: 40px;
}

.contact_agent button:hover {
	background-color: lightgreen;
	color: black;
	border: 1px solid white;
}


.pixCont {
    padding-left: 0px;
    padding-right: 0px;
    width: 100% !important;
}

.closeDetails {
	margin-bottom: 20px !important;
}

.propContainer {
	flex-wrap: nowrap;
	background-color: transparent;
}

.an_icon {
	width: 10%;
	background-color: transparent;
}

.an_icon i {
    font-size: 30px;
    padding-left: 8px;
    color: #2a938e;
}

.actual_content {
	width: 100%;
	background-color: transparent;
}

.propContent {
	padding-left: 20px;
	color: purple;
	background-color: transparent;
	border-bottom: 1px solid #2a938e;
	width: 95%;
	padding-bottom: 10px;
}

.left_part {
	width: 10%;
    background-color: transparent;
}

.left_part i {
	font-size: 25px;
	background-color: transparent;
	color: #2a938e;
	padding-left: 8px;
}

.left_part p {
	padding-left: 20px;
	color: purple;
	background-color: transparent;
}

.right_part {
	width: 80%;
	background-color: transparent;
}

.right_part p {
	padding-left: 20px;
	color: purple;
	background-color: transparent;
}

.prop_facilities h6 {
	padding-left: 10px;
	padding-top: 10px;
	text-align: center;
	padding-bottom: 10px;
	background-color: black;
	color: white;
}

.last_heading {
	padding-left: 10px;
	padding-top: 10px;
	text-align: center;
	padding-bottom: 5px;
	background-color: black;
	color: white;
}

.titleDocument {
	display: flex;
	flex-wrap: nowrap;
}

.documentValue {
	padding-top: 10px;
    width: 90%;
}

.documentValue p{
    color: purple;
    padding-left: 20px;
    border-bottom: 1px solid #2a938e;
    border-right: 1px solid #2a938e;;
    width: 95%;
    padding-bottom: 10px;
}

.forIcon {
    width: 10%;
    float: right;
    font-size: 30px;
    padding-left: 10px;
    color: #2a938e;
}

.search_section {
	width: 50%;
	background-color: rgba(0,0,0, .7);
	padding-top: 10px;
	position: fixed;
	z-index: 5;
	top: 0px;
	right: 0px;
	max-height: 750px;
	padding-bottom: 80px;
	overflow: scroll;
	cursor: pointer;
	display: none;
}

.search_section form {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: transparent;
}

.search_section form select {
	height: 50px;
	width: 100%;
	color: white;
	border: 1px solid orange;
	background-color: transparent;
	margin-bottom: 10px;
}

.search_section input {
	background-color: transparent;
	width: 100%;
	padding: 10px;
	border: 1px solid orange;
	border-radius: 5px;
	color: white;
	margin-bottom: 10px;
}

.search_section p {
	padding: 10px;
	background-color: #eeeeee;
	width: 100%;
	margin-bottom: 0px;
	margin-bottom: 10px;
}

.search_section .actualPrices {
	width: 50%;
	display: none;
}

.actualPrices input {
	margin-bottom: 0px;
}

.actualPrices {
	height: 300px;
	overflow: auto;
}

.search_section button {
	padding: 7px 30px;
	background-color: purple;
	color: white;
	border: 1px solid orange;
	float: right;
	border-radius: 5px;
}

.maxmin {
	display: flex !important;
	width: 100%;
	flex-wrap: nowrap;
}

.maxValue, .minValue {
	width: 50% !important;
}

.wrap_prices {
	width: 50%;
}

#enterLocalGov {
	padding: 8px;
	color: red;
	background-color: transparent;
	text-align: center;
	display: none;
}

#enterCategory {
	padding: 8px;
	color: red;
	background-color: transparent;
	text-align: center;
	display: none;
}

#maxError {
	padding: 10px;
	color: red;
	text-align: center;
	display: none;
	background-color: transparent;
}

#maxcheck {
	display: none;
	color: black;
}

.fa-window-close {
	font-size: 40px;
	margin-left: 20px;
	color: white;
	background-color: transparent;
	margin-bottom: 10px;
}

.menuIcon {
	max-width: 70px;
	background-color: transparent;
	float: right;
	position: fixed;
	top: 10px;
	z-index: 7;
	right: 20px;
	max-height: 60px;
	display: none;
}

.menuIcon i {
	color: white;
	border: 1px solid orange;
	border-radius: 5px;
	font-size: 50px;
	padding: 10px;
	background-color: black;
}

.menuIcon i:hover {
	color: green;
}

.menuIcon button {
	background-color: green;
	color: white;
	border: 1px solid white;
	padding: 6px 20px;
	border-radius: 5px;
	margin-left: 5px;
}

.menuButton {
	margin-left: 5px;
	background-color: transparent !important;
	color: white !important;
	border: none !important;
	margin-top: 5px;
}

#buy_button:hover, #sell_button:hover, #rent_button:hover, #mortgage_button:hover, 
#agent_finder:hover, #the_more_button:hover, #user_signup_button:hover, #userLogin:hover  {
       background-color: white !important;
       color: black !important;
}


.cover_for_nav {
	width: 80%;
	margin: auto;
}

#userLogin {
	margin-bottom: 50px;
}

#submit_Form:hover {
	background-color: green !important;
}

.signup_form {
	z-index: 3;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0, .7);
	height: 800px;
	display: none;
}

.login_form {
	z-index: 4;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0, .7);
	height: 800px;
	display: none;
}

.login form {
    width: 90%;
    border-radius: 5px;
    margin-left: 5%;
    border: 1px solid #eeeeee;
    background-color: #fafafa;
    margin-top: 70px;
    padding-bottom: 90px;
    
}

.login input {
	width: 90%;
	padding: 10px;
	border: 1px solid #eeeeee;
	margin-bottom: 5px;
	font-size: 15px;
	margin-left: 4%;
}

.login button {
	padding: 6px 30px;
	float: right;
	border: none;
	background-color: green;
	color: white;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-right: 6%;
	font-size: 14px;
}

.login p {
	padding: 50px 10px;
	color: default;
	text-align: center;
}

.login {
	padding-bottom: 70px;
}

.description p {
	text-align: center;
}

#theLoader {
	width: 150px;
	height: 150px;
	background-color: transparent;
	border: 10px solid white;
	border-radius: 50%;
	border-left: 10px solid green;
	margin: auto;
	margin-top: 150px;
	-webkit-animation-name: rotation;
	-ms-animation-name: rotation; /* Safari 4.0 - 8.0 */
	animation-name: rotation;
    animation-duration: .1s;
    -webkit-animation-duration: .1s; /* Safari */
    -ms-animation-duration: .1s;
    -webkit-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes rotation {
    0%   {transform: rotate(90deg);}
    25%  {transform: rotate(180deg);}
    50%  {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}

/* Standard syntax */
@keyframes rotation {
    0%   {transform: rotate(90deg);}
    25%  {transform: rotate(180deg);}
    50%  {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}

.loader {
   position: fixed;
   top: 0px;
   z-index: 1000;
   background-color: rgba(0,0,0, .8);
   height: 100%;
   width: 100%;
   display: none;
}



